

html, body{
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


header,footer {
  padding: 1rem;
  height: 60px;
  color: white;
  display: flex;
}

header{
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  text-align: left;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header li {
  display: inline;
}



.app{
  display: flex;
  flex-direction: column;
  height: 100%;
}


#prod {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto;
  gap: 10px;
  overflow-y: auto;
  grid-auto-rows: minmax(100px, auto);
  background-color: black;
}

.component {
}

#div1 {
  background-color: rebeccapurple;
}
#div2 {
  background-color: green;
}
